@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
  Rue Gambetta<br />
  92150 Suresnes<br />
  <abbr title="Tel">Tel :</abbr>
  01 02 03 04 05
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@support.com</a>
</address>
